<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sửa thông tin khách hàng</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f8f9fa;
    }
    .container {
      margin-top: 100px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Sửa thông tin tài khoản</h5>
          </div>
          <div class="card-body">
            <form id="form-taikhoan_update">
              <div class="form-group">
                <label>ID tài khoản:</label>
                <input type="text" class="form-control" id="id_taikhoan" value="<%=taikhoan.id_taikhoan%>" readonly>
              </div>
              <div class="form-group">
                <label>Tài khoản khách hàng:</label>
                <input type="radio" id="radioKhachhang" name="option" checked="true">
                <select id="id_khachhang" name="id_khachhang">
                  <% listkhachhang.forEach(khachhang => { %>
                    <option value="<%= khachhang.id_khachhang %>"><%= khachhang.id_khachhang %></option>
                  <% }); %>
                </select>
              </div>
              <div class="form-group">
                <label>Tài khoản nhân viên:</label>
                <input type="radio" id="radioNhanvien" name="option">
                <select id="id_nhanvien" name="id_nhanvien" disabled>
                  <% listnhanvien.forEach(nhanvien => { %>
                    <option value="<%= nhanvien.id_nhanvien %>"><%= nhanvien.id_nhanvien %></option>
                  <% }); %>
                </select>
              </div>
              <div class="form-group">
                <label>Tài khoản admin:</label>
                <input type="radio" id="radioAdmin" name="option">
              </div>
              <div class="form-group">
                <label">Tên đăng nhập:</label>
                <input type="text" class="form-control" id="tendangnhap" value="<%=taikhoan.tendangnhap%>" required>
              </div>
              <div class="form-group">
                <label">Mật khẩu:</label>
                <input type="text" class="form-control" id="matkhau" value="<%=taikhoan.matkhau%>" required>
              </div>
              <div class="form-group">
                <label">Phân quyền:</label>
                <input type="text" class="form-control" id="phanquyen" value="khachhang" required readonly>
              </div>
              <button type="submit" class="btn btn-primary">Cập nhật</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const id_khachhang = document.getElementById('id_khachhang');
      const id_nhanvien = document.getElementById('id_nhanvien');
      const phanquyen = document.getElementById('phanquyen');

      radioKhachhang.addEventListener('change', function() {
        id_nhanvien.disabled = this.checked;
        id_khachhang.disabled = !this.checked;
        phanquyen.value = "khachhang";
      });

      radioNhanvien.addEventListener('change', function() {
        id_khachhang.disabled = this.checked;
        id_nhanvien.disabled = !this.checked;
        phanquyen.value = "nhanvien";
      });

      radioAdmin.addEventListener('change', function() {
        id_khachhang.disabled = this.checked;
        id_nhanvien.disabled = this.checked;
        phanquyen.value = "admin";
      });
    // Xử lý sự kiện submit form sửa thông tin khách hàng
    document.getElementById('form-taikhoan_update').addEventListener('submit', function(event) {
      event.preventDefault(); // Ngăn chặn hành vi mặc định của form
      
      // Lấy giá trị từ các ô nhập liệu
      var id_taikhoan = document.getElementById('id_taikhoan').value;
      var id_khachhang = document.getElementById('id_khachhang').disabled?  "" : document.getElementById('id_khachhang').value ;
      var id_nhanvien = document.getElementById('id_nhanvien').disabled? "" : document.getElementById('id_nhanvien').value;
      var tendangnhap = document.getElementById('tendangnhap').value;
      var matkhau = document.getElementById('matkhau').value;
      var phanquyen = document.getElementById('phanquyen').value;

      // Tạo object chứa dữ liệu cần gửi lên server
      var params = new URLSearchParams();
      params.append('id_taikhoan', id_taikhoan)
      params.append('id_khachhang', id_khachhang);
      params.append('id_nhanvien', id_nhanvien);
      params.append('tendangnhap', tendangnhap)
      params.append('matkhau', matkhau);
      params.append('phanquyen', phanquyen);

      // Gửi request POST đến server để cập nhật thông tin khách hàng
      fetch(`/taikhoan/update_taikhoan/`, {
        method: 'POST',
        body: params
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('Cập nhật thông tin tài khoản thất bại');
        }
        return response;
      })
      .then(data => {
        // Hiển thị thông báo thành công khi cập nhật thành công
        Swal.fire({
          icon: 'success',
          title: 'Cập nhật thành công',
          showConfirmButton: false,
          timer: 1500
        }).then(()=>{
            // Redirect về trang danh sách khách hàng sau khi cập nhật thành công
            window.location.href = '/taikhoan';
          });
      })
      .catch(error => {
        // Hiển thị thông báo lỗi khi cập nhật thất bại
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: error.message
        });
      });
    });
  });
  </script>
  

<!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
